<!-- Header -->
<header class="text-center" name="home">
  <div id="header-div">
    <div class="intro-text">
      <div class="container">
        <div class="row">
            <div class="col-sm-3">
              <div class="ui-inputgroup on-map">
                <span class="ui-inputgroup-addon">From:</span>
                <p-autoComplete [(ngModel)]="from" [suggestions]="settlementResults" (completeMethod)="search($event)" [style]="{'width':'140px'}" [inputStyle]="{'width':'140px'}" required="true"></p-autoComplete>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="ui-inputgroup on-map">
                <span class="ui-inputgroup-addon">To:</span>
                <p-autoComplete [(ngModel)]="to" [suggestions]="settlementResults" (completeMethod)="search($event)" [style]="{'width':'140px'}" [inputStyle]="{'width':'140px'}" required="true"></p-autoComplete>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="ui-inputgroup on-map">
                <span class="ui-inputgroup-addon">Date:</span>
                <p-calendar [(ngModel)]="date" dateFormat="dd.mm.yy" [style]="{'width':'120px'}" [inputStyle]="{'width':'120px'}" required="true"></p-calendar>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="ui-inputgroup on-map">
                <span class="ui-inputgroup-addon">Time:</span>
                <p-calendar [(ngModel)]="time" timeOnly="true" hourFormat="24" [defaultDate]="defaultTime" [stepMinute]="60" [style]="{'width':'100px'}" [inputStyle]="{'width':'100px'}"></p-calendar>
              </div>
            </div>
          <div class="col-sm-1">
              <button pButton label="Search" class="ui-button-success on-map" (onClick)="handleClick($event)" [style]="{'width':'100%'}"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
