
<!-- Header -->
<header class="text-center" name="home">
  <div class="intro-text">
    <h1>Welcome to <strong>Raido</strong></h1>
    <p>We are a full-service connection agency</p>
    <div class="container">
      <div class="row">
        <form class="col-md-12">
          <div class="col-md-10">
            <div class="col-md-8" style="padding: 0px;">
              <div class="col-md-5" style="padding-right: 0px;">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="From:" id="frm">
                </div>
              </div>
              <div class="col-md-2" style="padding-right: 0px; padding-left: 0px;">
                <i class="fa fa-exchange fa-2x" style="position: inherit;" aria-hidden="true"></i>
              </div>
              <div class="col-md-5" style="padding-left: 0px;">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="To:" id="to">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group input-append date" id="datetimepiker" >
                <div class="inner-addon left-addon" style="position: relative">
                  <input type="text" class="form-control" id="date" readonly>
                  <span class="add-on calendarspan">
                                        <i class="fa fa-th icon-th" ></i>
                                    </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn btn-default btn-sm" style="padding: 4px  0px;">Get Route</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
